<div class="container">
    <a href="/" class="" style="text-decoration: none;color: black;font-size: 20px;">
        <i class="fa fa-home"></i>Trang chủ</a> >
     <span style="margin-left: 10px;font-size: 20px;">{{danhMucs.danhMuc}}</span>
    <div class="row ">
        <div *ngFor="let lst of danhMuc" class="col-6 col-sm-6 col-md-3 col-lg-3 mt-4">
            <a href="#" class="product-link">
                <div class="card product-card position-relative">
                    <img src="{{lst.img}}" class="card-img-top" alt="Product Image">
                    <div class="badge-container">
                        <span class="badge badge-danger">Sale</span>
                        <span class="badge badge-success">Giảm 20%</span>
                    </div>
                    <button class="btn btn-outline-danger btn-sm favorite-btn"><i class="fas fa-heart"></i></button>
                    <div class="card-body">
                        <h5 class="card-title">{{lst.tenSp}}</h5>
                        <div class="icons">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="rating">(4.5)</span>
                        </div>
                        
                        <div class="availability">
                            <i class="fas fa-check-circle"></i> Còn hàng
                        </div>
                        <div class="shipping">
                            <i class="fas fa-shipping-fast"></i> Miễn phí vận chuyển
                        </div>
                        <div class="discount-info mt-1">
                            <i class="fas fa-tags"></i> Mua 2 giảm thêm 10%
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="price">{{lst.giaSp}} đ</span>
                            <button class="btn btn-primary">Mua Ngay</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    <h3 style="margin-top: 50px;">Bạn cũng có thể thích</h3>
    </div>
