<!-- products -->

<div class="product-container">
    <div *ngFor="let lst of dataproducts | paginate: { itemsPerPage: 20, currentPage: p }" class="product-item">
       <a href="/Products/{{lst.id}}">
        <img src="{{URL}}{{lst.img}}" alt="Product Image" class="product-image">
        <h2 class="product-title">{{lst.tenSp}}</h2>
        <p class="product-price">{{lst.giaSp | number:'1.0-0'}}đ</p>
        <a   class="product-button">Xem chi tiết</a>
       </a>
      
    </div>
    <pagination-controls class="phantrang" (pageChange)="p = $event"></pagination-controls>
</div>
 <!--  -->