<div class="main-navbar shadow-sm sticky-top">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 my-auto   d-md-block d-lg-block">
                   <a href="/" class="" style="text-decoration: none;">
                       <h1  style="color: white; font-weight: bold; text-align: center;"><span class="typing-effect">KidsEcom</span></h1>
                    </a>
               
                </div>
                <div class="col sm-12 col-md-5 col-lg-4 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <input c type="search" placeholder="Tìm kiếm sản phẩm " class="form-control " />
                            <button class="btn bg-white" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div style="display: flex; justify-content: center;"  class="col-sm-12 col-md-4 col-lg-5 my-auto">
                    <ul  class="nav justify-content-end">
                        <li *ngIf="!isLogin" class="nav-item">
                            <a (click)="carts()"  class="nav-link" href="#">
                                <i class="fa fa-shopping-cart"></i> Giỏ Hàng
                            </a>
                        </li>
                        <li *ngIf="isLogin" class="nav-item">
                            <a  href="/Carts/{{isLogin.userName}}" class="nav-link" href="#">
                                <i class="fa fa-shopping-cart"></i> Giỏ Hàng
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-heart"></i> Sản phẩm yêu thích
                               
                            </a>
                        </li>
                        <li class="nav-item" *ngIf="!isLogin">
                            <a class="nav-link" [routerLink]="['/Login']">
                                <i class="fa fa-user"></i> Đăng Nhập 
                            </a>
                        </li>
                        <li class="nav-item dropdown"*ngIf="isLogin">
                            <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-user"></i> {{isLogin.userName}} 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Thông tin tài khoản</a></li>

                            <li><a class="dropdown-item" href="#"><i class="fa fa-list"></i>Đơn hàng của tôi</a></li>

                            <li><a class="dropdown-item" href="#"><i class="fa fa-heart"></i>Yêu thích của tôi</a></li>
                            <li style="color: white;"><a  class="dropdown-item" href="/Carts/{{isLogin.userName}}"><i class="fa fa-shopping-cart"></i>Giỏ hàng của tôi</a></li>
                            <li><a class="dropdown-item" href="#" (click)="Logout()"><i class="fa fa-sign-out"></i>Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>





<div>
    <router-outlet></router-outlet>
</div>




<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Giới Thiệu</h4>
            <p>Chúng tôi cung cấp các sản phẩm chất lượng cao và dịch vụ khách hàng tốt nhất.</p>
        </div>
        <div class="footer-section">
            <h4>Liên Hệ</h4>
            <ul>
                <li><i class="fas fa-envelope"></i> <a href="#">vinh2002minhkhaigmail.com</a></li>
                <li><i class="fas fa-phone"></i> <a href="#">033-429-3670</a></li>
                <li><i class="fas fa-map-marker-alt"></i> <a href="#">Cấn Hạ-Cấn Hữu-Quốc Oai-Hà Nội</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Theo Dõi Chúng Tôi</h4>
            <div class="social-icons">
                <a href="#" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h4>Đăng Ký Nhận Tin</h4>
       <div style="display: flex; max-height: 30px;">
                <input type="email" placeholder="Nhập email của bạn" required>
                <button style="width: 80px;" class="btn btn-primary" type="submit"><i style="display: flex;justify-content: center;" class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Công Ty TNHH 1 TV. Bảo lưu quyền sáng tạo.</p>
    </div>
</footer>