
<!-- slider -->
<div class="div-slider">
    <div class="wrapper-slider">
        <div>
            <swiper-container [slidesPerView]="1" pagination="true" loop="true" autoplay="true" autoplay-delay="2000">
                <swiper-slide>
                    <img class="img-slider" src="{{URL}}banner.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img class="img-slider" src="{{URL}}banner7.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img class="img-slider" src="{{URL}}banner8.png" alt="">
                </swiper-slide>
            </swiper-container>
        </div>
    </div>

    <div class="slider-banner">
        <img class="img-banner-slider" src="{{URL}}banner9.png" alt="">
        <img class="img-banner-slider" src="{{URL}}banner10.png" alt="">
    </div>
</div>
<!--  -->
<!-- banner -->
<div><img class="img-banner" src="{{URL}}banner11.png" alt=""></div>
<!--  -->
<!-- flase sale -->
 <div  class="container div-flashsale">
    <div class="div-count">
        <div class="div-text">Giá</div>
        <div class="div-icon"><i  class="fa-solid fa-bolt"></i></div>
        <div class="div-text1">Sốc</div>
        <div id="countdown-hour" ></div>
        <div id="countdown-minute"></div>
        <div id="countdown-second"></div>
    </div>


    <swiper-container [slidesPerView]="5"loop="true" autoplay="true" autoplay-delay="2000"  >
        <swiper-slide *ngFor="let lst of dataproducts">
            <div class="div-products">
             <a class="link-prodcuts" href="/Products/{{lst.id}}">
                <div  class="products-lst">
                    <div class="div-sale">
                        <img class="khung-sale" src="{{URL}}khungsale.png" alt="" >
                        <img class="img-sale" src="{{URL}}{{lst.img}}" alt="" >
                        <div>
                            <p  class="name-products">{{lst.tenSp}}
                            </p>
                            <div   class="star-rating">
                                <span class="icon-start">★</span>
                                <span class="icon-start">★</span>
                                <span class="icon-start">★</span>
                                <span class="icon-start">★</span>
                                <span class="icon-start">★</span>
                                (5)
                            </div>
                            <div class="div-price">
                                <p class="text-price">{{lst.giaSp | number:'1.0-0'}} đ</p>
                                <p class=" text-price-sale">{{lst.giaSp-(lst.giaSp*lst.giamGia/100) | number:'1.0-0'}} đ</p>
                                <div class="div-flash">
                                    {{lst.giamGia}}%
                                </div>
                            </div>
                            
                        </div>
                    </div>
                   
            
                </div>
             </a>
            </div>
        </swiper-slide>
    </swiper-container>
    
</div>

        
<!--  -->

<!-- products -->
 <h4 class="text-products">GỢI Ý HÔM NAY</h4>
<div class="product-container">
    <div *ngFor="let lst of dataproducts | paginate: { itemsPerPage: 20, currentPage: p }" class="product-item ">
       <a  href="/Products/{{lst.id}}">
        <img src="{{URL}}{{lst.img}}" alt="Product Image" class="product-image">
        <h2 class="product-title">{{lst.tenSp}}</h2>
        <p class="product-price price">{{lst.giaSp | number:'1.0-0'}}đ</p>
        <a class="product-button">Xem chi tiết</a>
       </a>
      
    </div>
    <pagination-controls class="phantrang" (pageChange)="p = $event"></pagination-controls>
</div>
 <!--  -->
<!-- categories -->
<div class="category-container">
    <h1 class="category-title">Danh Mục Sản Phẩm</h1>
    <swiper-container [slidesPerView]="6" loop="true" autoplay="true" autoplay-delay="2000">
        <swiper-slide *ngFor="let lst of lstcategories">
    <div  class="category-list">
        <a  href="/Categories/{{lst.danhMuc}}">
            <div  class="category-item">
                <img  src="{{URL}}{{lst.img}}" alt="Category Image 1">
                <p class="category-name">{{lst.danhMuc}}</p>
            </div>
        </a>
          
    
    </div>
        </swiper-slide></swiper-container>
</div>


 <!--  -->


<!-- hot -->

    <!-- Tab Navigation -->
    

    <app-showtabproducts></app-showtabproducts>
 <!--  -->
    <!-- banner fooodter -->
    <swiper-container [slidesPerView]="3" loop="true" autoplay="true" autoplay-delay="2000">
        <swiper-slide>
          <img src="{{URL}}banner1.png" alt="Image 1" />
        </swiper-slide>
        <swiper-slide>
          <img src="{{URL}}banner4.png" alt="Image 2" />
        </swiper-slide>
        <swiper-slide>
          <img src="{{URL}}banner3.png" alt="Image 3" />
        </swiper-slide>
        <swiper-slide>
            <img src="{{URL}}banner4.png" alt="Image 3" />
          </swiper-slide>
          <swiper-slide>
            <img src="{{URL}}banner1.png" alt="Image 3" />
          </swiper-slide>
      </swiper-container>
     <!--  -->
    
    <!-- đối tác -->
    <div class="container">
        <h1 class="title">Nhãn Hàng Đối Tác</h1>
        <swiper-container [slidesPerView]="3">
                    <swiper-slide>
                        <div class="partner-section">
                    <div class="partner">
                        <img src="{{URL}}nhanhang.png" alt="Đối Tác" class="partner-image">
                    </div>
                        </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="partner-section">
                <div class="partner">
                    <img src="{{URL}}nhanhang.png" alt="Đối Tác" class="partner-image">
                </div>
                    </div>
            </swiper-slide>
            <swiper-slide>
                <div class="partner-section">
            <div class="partner">
                <img src="{{URL}}nhanhang.png" alt="Đối Tác" class="partner-image">
            </div>
                </div>
        </swiper-slide>
        <swiper-slide>
            <div class="partner-section">
        <div class="partner">
            <img src="{{URL}}nhanhang.png" alt="Đối Tác" class="partner-image">
        </div>
            </div>
    </swiper-slide>
               
                    
            
          
        </swiper-container>
    </div>
     <!--  -->

































