<div class="table-container">
    <div><h4>Đơn hàng của bạn</h4></div>
    <table>
        <thead>
            <tr>
                <th class="order-table">STT</th>
                <th class="order-table">Tên Sản Phẩm</th>
                <th class="order-table">Họ và Tên</th>
                <th class="order-table">Size</th>
                <th class="order-table">Số Lượng</th>
                <th class="order-table">Giá Sản Phẩm</th>
                <th class="order-table">Email</th>
                <th class="order-table">Số Điện Thoại</th>
                <th class="order-table">Địa Chỉ</th>
                <th class="order-table">Subtotal</th>
                <th class="order-table">Date Time</th>
                <th class="order-table">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lst of lstoders , let i = index">
                <td class="order-table">{{i + 1}}</td>
                <td class="order-table product-name">{{lst.tenSp}}</td>
                <td class="order-table">{{lst.hoVaTen}}</td>
                <td class="order-table">{{lst.size}}</td>
                <td class="order-table">{{lst.soLuong}}</td>
                <td class="order-table">{{lst.giaSp | currency:'VND':'symbol':'1.0-0'}}</td>
                <td class="order-table">{{lst.email}}</td>
                <td class="order-table">+84{{lst.soDienThoai}}</td>
                <td class="order-table">{{lst.diaChi}}</td>
                <td class="order-table">{{lst.subtotal | currency:'VND':'symbol':'1.0-0'}}</td>
                <td class="order-table">{{lst.dateTime | date:'dd-MM-yyyy' }}</td>
                <td class="order-table">{{lst.status}}</td>
               
            </tr>
        </tbody>
    </table>
    <div *ngIf="loadding" class="div-load">
        <img class="icon-load" src="loadding.gif" alt=""></div>
</div>
