<div class="div_register">
  <div class="main">
    <form method="post" [formGroup]="RegisterF">
      <label aria-hidden="true">Register</label>
      <input class="input" name="userName" type="text" formControlName="userName" placeholder="Tài Khoản" required="">
      <input class="input" type="password" name="passWord" formControlName="passWord" placeholder="Mật Khẩu"
        required="">
      <input class="input" type="text" name="diaChi" formControlName="diaChi" placeholder="Địa Chỉ" required />
      <input class="input" type="text" name="soDienThoai" formControlName="soDienThoai" placeholder="Số Điện Thoại"
        required />
      <input class="input" type="text" name="email" formControlName="email" placeholder="Email" required />
      <input class="input" type="text" name="hoVaTen" formControlName="hoVaTen" placeholder="Họ Và Tên" required />


      <select class="select" name="gender" formControlName="gioiTinh" required>
        <option value="Nữ">Nữ</option>
        <option value="Nam">Nam</option>

      </select>
      <div class="onRegister">
        <button (click)="onRegister()" type="submit">Register</button>

      </div>
      <div class="onLogin">
        <a class="login" href="/Login">Login</a>
      </div>
    </form>
  </div>
</div>